* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a,
button {
  color: inherit;
  cursor: pointer;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

::selection {
  background-color: $c-accent;
  color: white;
}
