$c-accent: #3a30f8;

$containerWidth: 1170px;
$videoHeightDesktop: 500px;
$videoHeightTablet: 300px;
$videoHeightMobile: 200px;

$bigScreenBreakpoint: 1900px;
$desktopBreakpoint: 1280px;
$tabletBreakpoint: 768px;
$mobileBreakpoint: 480px;
